.fa-video{
    color: #791d79;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
}
.fa-phone{
    color: #791d79;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
}
.fa-message{
    color: #791d79;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
}
.fa-location-dot{
    color: #791d79;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
}
