
.fa-shield-heart{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
.fa-arrow-trend-up{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
.fa-handshake{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
.fa-trophy{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
.fa-calendar-days{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
.fa-bell{
    color: #791d79;
    font-size: 16px;
    padding: 2px;
    cursor: pointer;
}
